---
import "./src/styles/global.css";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import Lluc from "../components/Lluc.astro";
import Projects from "../components/Projects.astro";
import Briefcase from "../components/icons/Briefcase.astro";
import Code from "../components/icons/Code.astro";
import TitleSection from "../components/TitleSection.astro";
import Books from "../components/Books.astro";
import BooksIcon from "../components/icons/Books.astro";
import Boy from "../components/icons/Boy.astro";
import AboutMe from "../components/AboutMe.astro";
---

<Layout
  title="Lluc Martí Calveres"
  description="Lluc Martí Calveres is a software engineer with more than 3 years of experience, looking for new opportunities to grow and learn."
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-24">
      <Lluc>
        </slot> 
      </Lluc>
    </SectionContainer>
  </main>
  <div class="space-y-24 py-10">
    <SectionContainer id="experience">
      <TitleSection>
        <Briefcase class="size-7 -mt-2" />
        Experience
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="about-me">
      <TitleSection>
        <Boy class="size-10 -mt-2" />
        About me
      </TitleSection>
      <AboutMe />
    </SectionContainer>

    <SectionContainer id="books">
      <TitleSection>
        <BooksIcon class="size-7" />
        Books
      </TitleSection>
      <Books />
    </SectionContainer>
  </div>
</Layout>
