---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "February 2024 - present",
    title: "Software Engineer II",
    company: "Zaleos Engineering",
    description:
      "All of the pages and components are first designed in Figma and we keep a parity between the two versions even as we update the project.",
    link: "https://twitch.tv/midudev",
  },
  {
    date: "September 2022 - January 2024",
    title: "Software Developer",
    company: "Covline SL",
    description:
      "Get started with dozens of web components and interactive elements built on top of Tailwind CSS.",
  },
];
---

<ol class="relative mt-10">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
