---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "February 2024 - present",
    title: "Software Engineer II",
    company: "Zaleos Engineering",
    description:
      "Development of REST APIs using Spring Boot, integration with external systems, CI/CD automation with GitHub Actions and Go, use of Docker, mentoring junior engineers and participating in system design discussions.",  },
  {
    date: "September 2021 - January 2024",
    title: "Software Developer",
    company: "Covline SL",
    description:
      "Backend development in Java, improvement of database performance through indexing and schema redesign, close collaboration with functional teams to adapt applications to business needs, and maintenance of internal tools.",  },
];
---

<ol class="relative mt-10">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
